@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

ul {
  list-style: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  border: 0;
  background: #1d61dd;
  color: white;
}

header {
  background: no-repeat center/cover url("assets/header-image.jpg");
  height: calc(100vh - 150px);
}

header nav {
  display: flex;
  justify-content: space-between;
  margin: auto 90px;
}

header nav p {
  font-weight: bold;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin: 0 15px;
}

.header-content {
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
}

.header-content h1 {
  margin-bottom: 10px;
  font-size: 4rem;
}
